<launch>

	<!-- COMMON_ARDUINO_APPLICATION {DC MOTOR CONTROL} -->
	<node	pkg="rosserial_python" 
		name="dc_motor_robot1_control" 
		type="serial_node.py"> 
		<!-- output="screen"> -->
		
		<param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="57600"/>
		
		<remap from="/cmd_vel" to="/cmd_vel_robot1"/>
		<remap from="/val_encLeft" to="/val_encLeft_robot1"/>
		<remap from="/val_encRight" to="/val_encRight_robot1"/>
	</node>

</launch>
