<launch>

	<!-- COMMON_ARDUINO_APPLICATION {SERVO MOTOR CONTROL} (mate-pi2) -->
	<node	pkg="rosserial_python" 
		name="servo_motor_robot2_control" 
		type="serial_node.py"> 
		<!-- output="screen"> -->
		
		<param name="port" value="/dev/ttyUSB1"/>
		<param name="baud" value="57600"/>
		
		<remap from="/cmd_vel" to="/cmd_vel_robot2"/>
	</node>

</launch>
